.container {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.map-column {
    flex: 2;
}

.info-column {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}

h1, h2 {
    text-align: center;
}

path {
  cursor: pointer;
  transition: fill 0.2s ease;
}

path:hover {
  fill: #4CAF50;   /* A green highlight */
}
